// Header.scss

header {
    background-image: url(/assets/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 85vh;

    // flex properties
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        display: flex;
        flex-direction: column;
    }

}

  .btn-style {
        background-color: whitesmoke;
        border: none;
        padding: 1em 1.5em;
        border-radius: 10px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        color: black;
        border: 2px solid transparent;

    }

    .btn-style:hover, 
    .btn-style:focus {
        background-color: black;
        border: solid 2px rgb(224, 160, 80);
        color:whitesmoke;
        transition: all .3s ease-out;
        

    }

.dog-finder-logo {
    width: 200px;
    height: auto;
    margin: 0 auto;
}

.dog-finder-selection-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    h1 {
        font-weight: 800;
        font-size: clamp(.8rem, .8rem + 2vw, 3.4rem);
        color: whitesmoke;
        letter-spacing: 1px;
        text-shadow: 2px 1px 2px black;
    }

    .header-paragraph {
        font-weight: 600;
        color: whitesmoke;
        text-shadow: 2px 1px 2px black;
        width:95%;
        max-width: 800px;
        text-align: center;
    }

  

    ul {
        display: flex;
        gap: 3em;
        flex-direction: column;
        align-items: center;
    
    }
}