
header {
    background-image: url(/assets/hero.jpg);
    background-size: cover;
    height: 100vh;

    // flex properties
    display: flex;
    justify-content: center;
    align-items: center;

}

.dog-finder-logo {
    width: 200px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
}

.dog-finder-selection-flex {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    h1 {
        font-weight: 800;
        font-size: 3.4rem;
        color: whitesmoke;
        letter-spacing: 1px;
    }

    a {
        background-color: whitesmoke;
        border: none;
        padding: 1em 1.5em;
        border-radius: 10px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        color: black;
    }

    ul {
        display: flex;
        gap: 1.5em;
    
    }
}