.dog-gif,
.random-dog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color:black;
    color: whitesmoke;

    .image-container {
        height: 50%;
    }
  

    .dog-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        height: 50%;

        p {
            text-align: center;
        }

    }

    .dog-container {
        padding: 2em 3em;
        border: 2px solid red;
        h2 {
            text-align: center;
            padding-bottom: 0.7em;
        }
    }
}



